.footer-section {
  @media screen and (max-width: 768px) {
    display: flex;
    text-align: center;
    font-family: "Roboto";
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    font-family: "Roboto";
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.container-row {
  display: block;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.footer-contact__section {
  display: block;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (mix-width: 1200px) {
    display: block;
    justify-content: center;
    align-items: center;
  }
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: "Oleo Script", cursive;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-adress__section {
  display: block;
}
.adress__list {
  display: block;
  @media screen and (max-width: 1200px) {
    margin-bottom: 60px;
  }
}
.adress__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}
.adress__contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.footer-social-links {
  display: block;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer-social-links__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social-links__icon {
  margin: 12px;
  fill: #ffffff;
  .footer-social-links__name:focus & {
    margin: 12px;
    fill: #ffffff;
  }
}
.footer-social-links__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.footer-social-links__name {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 44px;
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-links__name {
  height: 44px;
  display: block;
  &:hover,
  &:focus {
    background-color: #2196f3;
    border-radius: 50%;
  }
}
.subscription {
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-right: auto;
    padding-top: 12px;
    margin-top: 0;
  }
}
.subscription__text {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.subscription__window {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.subscription__form {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 358px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-right: 12px;
    margin-left: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.subscription__form-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 16px;
}
.subscription__button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    cursor: pointer;
  }
}
.subscription__button-text {
  margin-right: 10px;
}
.subscription__button-icon {
  display: flex;
  fill: #ffffff;
}

.subscription__form-input {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: none;
}
