.footer-section {
  @media screen and (min-width: 480px) {
    font-family: "Roboto";
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    font-family: "Roboto";
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.logo-footer {
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.adress__link {
  @media screen and (min-width: 480px) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 9px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.adress__contact {
  @media screen and (min-width: 480px) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.adress__item:not(:last-child) {
  @media screen and (min-width: 480px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.logo-footer {
  @media screen and (min-width: 480px) {
    display: block;
    margin-bottom: 20px;
    font-family: "Oleo Script", cursive;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-bottom: 20px;
  }
}
.container-row {
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}
.footer-social-links {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    padding-top: 12px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.footer-social-links__title {
  @media screen and (min-width: 480px) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.footer-social-links__icon {
  margin: 12px;
  fill: #ffffff;
  .footer-social-links__name:focus & {
    margin: 12px;
    fill: #ffffff;
  }
}
.footer-social-links__list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: row;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.footer-social-links__name {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 44px;
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-links__name {
  height: 44px;
  display: block;
  &:hover,
  &:focus {
    background-color: #2196f3;
    border-radius: 50%;
  }
}
.subscription {
  @media screen and (min-width: 480px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-right: auto;
    padding-top: 12px;
    margin-top: 0;
  }
}
.subscription__text {
  @media screen and (min-width: 480px) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.subscription__window {
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.subscription__form {
  @media screen and (min-width: 480px) {
    width: 358px;
    height: 50px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.subscription__form-text {
  @media screen and (min-width: 480px) {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding-left: 16px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.subscription__button {
  @media screen and (min-width: 480px) {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    width: 200px;
    height: 50px;
    border: 0px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      cursor: pointer;
    }
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.subscription__button-text {
  margin-right: 10px;
}
.subscription__button-icon {
  display: flex;
  fill: #ffffff;
}

.subscription__form-input {
  @media screen and (min-width: 480px) {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    width: 358px;
    height: 50px;
    border: none;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
