.header {
  @media screen and (min-width: 768px) {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
  }
  @media screen and (min-width: 1200px) {
  }
}
.header .container {
  @media screen and (min-width: 1200px) {
    position: relative;
    display: flex;
    align-items: center;
  }
}
.navigation {
  @media screen and (min-width: 768px) {
    font-family: "Roboto";
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    font-family: "Roboto";
    display: flex;
    align-items: center;
    margin-right: 305px;
  }
}
.web {
  color: #2196f3;
}
.header-logo {
  margin-right: 276px;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
//   .mobile-menu__button {
//     @media screen and (max-width: 1200px) {
//       display: inline-flex;
//       margin: 0;
//       padding: 0;
//       border: none;
//       background-color: transparent;
//     }
//   }
//   .mobile-menu__button .icon-cross {
//     @media screen and (max-width: 1200px)
//     display: none;
//   }
//   .mobile-menu__button.is-open .icon-cross {
//     display: block;
//   }
//   .mobile-menu__button.is-open .icon-menu {
//     display: none;
//   }
//   .mobile-menu__container {
//     display: none;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     width: 100%;
//     height: 400px;
//     padding: 20px;
//     text-align: center;
//     font-size: 20px;
//     &.is-open {
//       display: block;
//       background-color: turquoise;
//     }
//   }
// }
.navigation-list {
  @media screen and (min-width: 768px) {
    display: flex;
    .navigation-list__item:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    .navigation-list__item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.navigation-list__link {
  @media screen and (min-width: 768px) {
    display: block;
    position: relative;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &.current::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: var(--accent-color);
      box-sizing: inherit;
    }
  }
}
@media screen and (min-width: 1200px) {
}

.contacts {
  @media screen and (min-width: 768px) {
    font-family: "Roboto";
    display: flex;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    @media screen and (min-width: 1200px) {
    }
  }
}
.contacts-list {
  @media screen and (min-width: 768px) {
    display: flex;
    .contacts-list__item {
      display: flex;
    }
  }
}
.contacts-list__email {
  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    margin-right: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.contacts-list__icon-email {
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    fill: #757575;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .contacts-list__email:hover &,
    .contacts-list__email:focus & {
      fill: var(--accent-color);
    }
  }
}
.contacts-list__phone {
  @media screen and (min-width: 768px) {
    display: flex;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.contacts-list__icon-phone {
  @media screen and (min-width: 768px) {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    fill: #757575;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .contacts-list__phone:hover &,
    .contacts-list__phone:focus & {
      fill: var(--accent-color);
    }
  }
}
