.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
  }
}
.header {
  .container {
    display: flex;
    @media screen and (min-width: 1200px) {
      position: relative;
      align-items: center;
    }
  }
}
.navigation {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    font-family: "Roboto";
    align-items: center;
    margin-right: 56px;
  }
  @media screen and (min-width: 1200px) {
    font-family: "Roboto";
    margin-right: 305px;
  }
}
.web {
  color: #2196f3;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 286px;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding: 0;
  }
}
.navigation-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.navigation-list__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    padding-right: 50px;
  }
}

.navigation-list__link {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: relative;
    padding-bottom: 32px;
    padding-top: 32px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &.current::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: var(--accent-color);
      box-sizing: inherit;
    }
  }
}

.contacts {
  display: none;
  @media screen and (min-width: 768px) {
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.contacts-list {
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.contacts-list__item {
  display: inline-block;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts-list__email {
  display: none;
  @media screen and (min-width: 768px) {
    position: relative;
    display: inline-block;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    padding-bottom: 10px;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-right: 30px;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}
.contacts-list__icon-email {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    fill: #757575;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .contacts-list__email:hover &,
    .contacts-list__email:focus & {
      fill: var(--accent-color);
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
.contacts-list__phone {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts-list__icon-phone {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    fill: #757575;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .contacts-list__phone:hover &,
    .contacts-list__phone:focus & {
      fill: var(--accent-color);
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
.mobile-menu__button-open {
  background-color: transparent;
  border-style: none;
  padding: 0;
  &:hover,
  &:focus {
    fill: #2196f3;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  // width: 40px;
  // height: 40px;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border-style: none;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #2196f3;
    cursor: pointer;
  }
}
.mobile-menu__navigation-section {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-left: 40px;
}
.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #fff;
}
.mobile-menu__container.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.icon-cross {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #212121;
}
.mobile-menu__navigation-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.mobile-menu__navigation-item {
  &:not(:last-child) {
    padding-bottom: 32px;
  }
}
.mobile-menu__contact-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 40px;
}
.mobile-menu__contact-list {
  margin-bottom: 64px;
}
.mobile-menu__contact-item {
  margin-bottom: 32px;
}
.mobile-menu__contact-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu__contact-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-menu__social-link-list {
  display: flex;
  padding-bottom: 48px;
}
.mobile-menu__social-item {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}
.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}
