.heroe {
  padding-bottom: 118px;
  padding-top: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroe-mobile.jpg);
  background-color: var(--second-title-color);
  background-color: var(--second-title-color);
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 480px;
  height: 400px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroe-mobile-2x.jpg);
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroe-tablet.jpg);
    background-color: var(--second-title-color);
    flex-grow: 1;
    padding-bottom: 118px;
    padding-top: 118px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/heroe-tablet-2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroe-desctop.jpg);
    background-color: var(--second-title-color);
    flex-grow: 1;
    padding-bottom: 200px;
    padding-top: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/heroe-desctop-2x.jpg);
    }
  }
}

.heroe-text {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
