.our-projects {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  border: 0px;
  border-radius: 4px;
  padding: 5.89px 22.4px 5.89px 22.4px;
  transition-property: background-color #2196f3, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
  }
}
.button-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
  }
}
.button-list-item {
  flex-direction: row;
  margin-bottom: 15px;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    display: flex;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
.project-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
.project-item {
  width: 370px;
  height: 404px;
  margin-bottom: 30px;
  width: 450px;
  height: 404px;
  border: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-right: 30px;
    flex-basis: calc(100% / 2 - 30px);
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 5) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    margin-right: 30px;
    flex-basis: calc(100% / 3 - 30px);

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
.project-item-overlay {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .project-item:hover & {
    transform: translateY(0%);
  }
}
.project-overlay-text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 23px;
}
.project-discription {
  width: 100;
  padding: 20px 24px 20px 24px;
}
.project-image {
  min-width: 100%;
}
.project-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}
