.our-team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    background-color: #f5f4fa;
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.our-team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  img {
    width: 100%;
    height: 460px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 15px);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.our-team__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
  }
}
.our-team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
}
.our-team__description {
  padding-top: 30px;
  padding-bottom: 24px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.our-team__name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
}
.our-team__job {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    justify-content: center;
  }
}
