.values {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.values__list {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.values__item {
  display: block;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 251px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.values__icon {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    background-color: rgba(245, 244, 250, 1);
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
  }
}
.values__name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
}
.values__description {
  font-family: "Roboto";
  font-style: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    font-family: "Roboto";
    font-style: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
