.logo {
  font-family: "Oleo Script", cursive;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(28 / 24);
  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 480px) {
  }
}
