.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms, visibility 250ms;
}
.modal-window {
  width: 405px;
  min-height: 609px;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #0000001a;
  border-radius: 5px;
  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}
.x-button {
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  background-color: unset;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    cursor: pointer;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.close-buttom__icon {
  display: flex;
  width: 11px;
  height: 11px;
  margin-left: auto;
  margin-right: auto;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .x-button:hover & {
    fill: #2196f3;
    cursor: pointer;
  }
}
.contact-form {
  padding: 20px 20px 20px 20px;
  @media screen and (min-width: 1200px) {
    padding: 40px 40px 40px 40px;
  }
}
.modal-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  display: block;
  margin-bottom: 12px;
}
.modal-form__field {
  margin-bottom: 10px;
}
.modal-form__label {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: #2196f3;
    cursor: pointer;
  }
}
.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .input__wrap:hover & {
    fill: #2196f3;
  }
  .modal-form__input:focus ~ & {
    fill: #2196f3;
  }
}
.input__wrap {
  position: relative;
}
.modal-form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: #2196f3;
    cursor: pointer;
  }
  &::placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox__input {
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.check-box__label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #757575;
  .checkbox__input:checked + & > .check-box__icon {
    background-color: #2196f3;
    border: none;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.7;
  }
}
.check-box__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  .checkbox__input:checked + .check-box__label > & {
    background-color: #2196f3;
    border: none;
  }
}
.contract-condition__link {
  margin-left: 1px;
  color: #2196f3;
  text-decoration: underline;
  text-decoration-color: #2196f3;
}
