.social-links__list {
  display: flex;
  margin-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
}
.social-links__item {
  display: flex;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social-link {
  padding: 12px 12px 12px 12px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
    border-radius: 50%;
  }
}
.social-link__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .social-link:hover &,
  .social-link:focus & {
    fill: #ffffff;
  }
}
