:root {
  --main-title-color: white;
  --second-title-color: #2f303a;
  --third-title-color: #f5f4fa;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
